<%- include("./partials/header") %>


<div class="container">
    <h2><%= todayDate %></h2>
    <div class="player-details">
        <h2>Player Career* #</h1>
        <table class="table">
            <thead class="thead-dark">
             <tr>
                 <th scope="col">Years</th>
                 <th scope="col">Team</th>
                 <th scope="col">Apps</th>
                 <th scope="col">Goals</th>
             </tr>
            </thead>
            <tbody>
                <th scope="col"><%= yearsOne %></th>
                <th scope="col"><%= teamOne %></th>
                <th scope="col"><%= appsOne %></th>
                <th scope="col"><%= goalsOne %></th>
            </tbody>


        </table>

    </div>
    <form action="/" id="playerInput" method="POST">
        <input type="text" class="form-control" name="inputPlayer">
        <button  type="submit" class="btn btn-success guess">Guess</button>
    </form>
    <div class="image-container">
        <div class="league">
            <img src="" alt="">
        </div>
        <div class="team">
            <img src="" alt="">
        </div>
        <div class="player">
            <img src="" alt="">
        </div>
    </div>
</div>

<%- include("./partials/footer") %>