<%- include("./partials/header") %>


<div class="container">
    <h2><%= todayDate %></h2>
    <div class="player-details">
        <h2>Player Career* #</h1>
        <table class="table">
            <thead class="thead-dark">
             <tr>
                 <th scope="col">Years</th>
                 <th scope="col">Team</th>
                 <th scope="col">Apps</th>
                 <th scope="col">Goals</th>
             </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col"><%= yearsOne %></th>
                    <th scope="col"><%= teamOne %></th>
                    <th scope="col"><%= appsOne %></th>
                    <th scope="col"><%= goalsOne %></th>
                </tr>
            </tbody>
        </table>

    </div>
    <form action="post">
        <input type="text" class="form-control">
        <button  type="submit" class="btn btn-success guess">Guess</button>
    </form>
</div>

<%- include("./partials/footer") %>