<%- include("./partials/header") %>


<div class="container">
    <h2><%= todayDate %></h2>
    <div class="player-details">
        <h2>Player Career* #</h1>
        <table class="table">
            <thead class="thead-dark">
             <tr>
                 <th scope="col">Years</th>
                 <th scope="col">Team</th>
                 <th scope="col">Apps</th>
                 <th scope="col">Goals</th>
             </tr>
            </thead>
            <tbody>
            <tr>
                <% if (playerObj.noOfGuesses >= 0) { %>
                <th scope="col"><%= playerObj.playerDates[0] %></th>
                <th scope="col"><%= playerObj.playerTeams[0] %></th>
                <th scope="col"><%= playerObj.playerApps[0] %></th>
                <th scope="col"><%= playerObj.playerGoals[0] %></th>
                <% } %>
            </tr>
            <tr>
                <% if (playerObj.noOfGuesses >= 1) { %>
                    <th scope="col"><%= playerObj.playerDates[1] %></th>
                    <th scope="col"><%= playerObj.playerTeams[1] %></th>
                    <th scope="col"><%= playerObj.playerApps[1] %></th>
                    <th scope="col"><%= playerObj.playerGoals[1] %></th>
                    <% } %>
            </tr>
            <tr>
                <% if (playerObj.noOfGuesses >= 2) { %>
                    <th scope="col"><%= playerObj.playerDates[2] %></th>
                    <th scope="col"><%= playerObj.playerTeams[2] %></th>
                    <th scope="col"><%= playerObj.playerApps[2] %></th>
                    <th scope="col"><%= playerObj.playerGoals[2] %></th>
                    <% } %>
            </tr>
            <tr>
                <% if (playerObj.noOfGuesses >= 3) { %>
                    <th scope="col"><%= playerObj.playerDates[3] %></th>
                    <th scope="col"><%= playerObj.playerTeams[3] %></th>
                    <th scope="col"><%= playerObj.playerApps[3] %></th>
                    <th scope="col"><%= playerObj.playerGoals[3] %></th>
                    <% } %>
            </tr>
            <tr>
                <% if (playerObj.noOfGuesses >= 4) { %>
                    <th scope="col"><%= playerObj.playerDates[4] %></th>
                    <th scope="col"><%= playerObj.playerTeams[4] %></th>
                    <th scope="col"><%= playerObj.playerApps[4] %></th>
                    <th scope="col"><%= playerObj.playerGoals[4] %></th>
                    <% } %>
            </tr>
            </tbody>
        </table>

    </div>
    <form action="/" id="playerInput" method="POST">
        <input type="text" class="form-control" name="inputPlayer">
        <button  type="submit" class="btn btn-success guess">Guess</button>
    </form>
    <div class="guesses-container">
        <h2>Guesses</h2>
        <br>
        <% playerObj.playerGuesses.forEach((ele) => { %>
        <p class="player-guesses"><%= ele %></p>
        <% }) %>
    </div>
</div>

<%- include("./partials/footer") %>